@use '../helpers' as *;

//  Main button
.main-btn {
    // border: 2px solid color(blur-color);
    // background: color(blur-color) !important;
    background: color(blur-color) !important;
    box-shadow: $btn-box-shadow;
    color: white !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;
    padding: 1rem;
    @include global-transition;
    &:hover {
        // background: color(blur-color) !important;
        background: transparent !important;
        color: color(light) !important;
        border: 2px solid color(light);
    }
}

// Second button
.second-btn {
    background: color(blur-color) !important;
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;

    &:hover {
        background: color(light) !important;
        color: color(dark) !important;
        border: 0.1em solid color(blur-color);
    }
}

// Costumize the danger button
.danger-btn {
    background: color(danger);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;

    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

// Costumize the success button
.success-btn {
    background: color(success);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;

    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

// Costumize the info button
.info-btn {
    background: color(info);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;

    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}
