@use "../helpers" as *;

// Main card
.main-card {
  position: relative;
  // background-color: color(blur-color);
  background: linear-gradient(to right, color(blur-color), color(dark-purple));
  width: 25rem;
  height: 35rem;
  box-shadow: $card-box-shadow;
  align-items: center;
  overflow: hidden;
  margin: 2rem;
  border-radius: $main-border-radius !important;
}

.side-navbar-card{
  position: relative;
  // background-color: color(blur-color);
  background: color(light);
  width: 18rem;
  height: 45rem;
  box-shadow: $card-box-shadow;
  align-items: center;
  overflow: hidden;
  // margin: 2rem;
  border-radius: $main-border-radius !important;
}

.dashboard-card{
  position: relative;
  background: color(success);
  width: 15rem;
  height: 10rem;
  box-shadow: $card-box-shadow;
  align-items: center;
  overflow: hidden;
  margin: 2rem;
  border-radius: $main-border-radius !important;
}

