@use "../helpers" as *;

.header_section {
    margin-right: calc(100vw - (100vw - 1.5rem));
}

.navbar {
    width: calc(100vw - (20rem + 2rem));
    box-shadow: $card-box-shadow;
    position: absolute;
    border-radius: $main-border-radius;
    height: 7vh;
    left: auto;
    right: auto;
    background: color(body-color);
}